@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "AddAthlete";
}

<h2>AddAthlete</h2>

<h2>CREATE NEW TEST</h2>
<a asp-action="CTAthletes" style="float:right">x</a>
<hr />
<div class="row" style="align-items:center">
    <div class="col-md-4">
        <form asp-action="NewAthlete">
            <div class="form-group">
                <label for="AName" style="text-align:center"> Name </label>
                <br />
                <select id="AName" name="AName" style="align-items:center">
                    @foreach (var item in Model)
                    {
                        @if (item.UserRole.Equals(WebApplication1.Models.UserRole.Athlete))
                        {
                            <option>@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label for="CTDistance" style="text-align:center"> Distance </label>
                <br />
                <input id="CTDistance" name="CTDistance" />
            </div>
            <br />
            <div>
                <button class="btn-default" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>