@model IEnumerable<WebApplication1.Models.TestType>

@{
    ViewData["Title"] = "CreateTest";
}

<h2>CREATE NEW TEST</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewTest">
           <input type="datetime-local" id="TestDate" name="TestDate"/>
            <select id="TestType" name="TestType">
                @foreach (var item in Model)
                {
                    <option>@item.TestName</option>

                }
            </select>
            <button class="btn-default" type="submit">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

