@model WebApplication1.Models.UserTestMapping

@{
    ViewData["Title"] = "DeleteAthlete";
}

<h2>CONFIRM</h2>

<h3>Are you sure you want to delete this aTHLETE FROM THE TEST?</h3>
<div>
    <h4>UserTestMapping</h4>
    <hr />
    <form asp-action="TestAthleteDetails" asp-route-id="@Model.ID">
        <input type="hidden" asp-for="ID" />
        <a asp-action="DeleteAthlete" asp-route-id="@Model.ID" class="btn btn-default" >YES</a> |
        <a asp-action="Edit" class="btn btn-default">NO</a>
    </form>
</div>
