@model WebApplication1.Models.UserTestMapping

@{
    ViewData["Title"] = "DeleteAthlete";
}

<h2>CONFIRM</h2>

<h3>Are you sure you want to delete this Athlete from the Test?</h3>
<div>
   
    <hr />
    <form asp-action="TestAthleteDetails" asp-route-id="@Model.UserId">
        <input type="hidden" asp-for="@Model.UserId" />
        <a asp-action="RemoveAthlete" asp-route-id="@Model.UserId" class="btn btn-default" >YES</a> |
        <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-default">NO</a>
    </form>
</div>
